# Contract Addresses for Pop Testnet
NEXT_PUBLIC_ORACLE_ADDRESS=
NEXT_PUBLIC_REGISTRY_ADDRESS=

# Contract Addresses for Development (local node)
NEXT_PUBLIC_ORACLE_ADDRESS_DEV=
NEXT_PUBLIC_REGISTRY_ADDRESS_DEV=